.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo-image {
    height: 50px; /* Ajuste la hauteur de l'image selon tes besoins */
    width: auto;
  }
  
  .nav-links {
    display: flex;
    gap: 15px;
  }
  
  .nav-button {
    color : black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  
  .nav-button.active {
    background-color: #336699;
    color: white;
  }
  